* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/* @font-face {
  font-family: MyHelvetica;
  src: local("Helvetica Neue"),
  local("HelveticaNeue"),
  url(MgOpenModerna.ttf);
  font-weight: normal;
} */

/* BODY SETTINGS */
body{
    background: #eee;
    color: #222;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em; /*line height beetje ophogen, leest beter */
    letter-spacing: -0.01em; /*ietsiepietsie afspatieëren */
    margin: 0;
    padding: 0;
}
a{
    color: #333;
}
a:hover, a:focus{
    background: #fffc86;
    /* color: white; */
}
h1{
    font-size: 1.9em;
    line-height: 0.9em; /*line-height in header strak zetten */
    letter-spacing: -0.04em; /*titels iets meer afspatieëren = lekker */
    margin: 0.4em 0 0 0;
    padding: 0;
}
h2{
    font-size: 1.4em;
    line-height: 1.1em;
    letter-spacing: -0.01em;
}
h3{

}
ul, menu{
    margin: 0;
    padding-left: 1em;
}
ul li, menu li{
    margin-bottom: 0.2em;
}
ul li a, menu li a{
    display: inline-block;
    padding: 0.2em;
}
p {
    max-width: 48em;
}

/* HEADER */
/* 
darkseagreen
https://html-color.codes/color-names/darkseagreen
https://www.colorhexa.com/8fbc8f
*/
header{
    background: #accdac;
    padding: 2rem 1rem;
}
div#cards{
    /* background: lightpink; */
    /* max-width: 48em; */
    /* position: relative; */
    margin: 0 -1rem;
    padding-top: 2rem;
    padding-bottom: 7rem;
    /* perspective: 1000px; */
    overflow-x: scroll;
    /* border: red solid */
}
div#cards > p{
    background: darkseagreen;
    width: 16em;
    height: 22em;
    padding: 1rem;
    border-radius: 0.5rem;
    border: solid #83b483 0.5rem;
    box-shadow: rgba(44, 73, 44, 0.4) 0px 48px 100px 0px;
}
p#info{
    /* font-size: 0.98em; */
    position: relative;
    /* transform: rotateY(20deg) translateX(-20px); */
    transform: rotate(-10deg);
    margin-left: 1em;
    z-index: 3;
}
p#advies{
    position: relative;
    transform: rotate(-1deg);
    margin-top: -24em;
    margin-left: 17em;
    z-index: 5;
    transform: scale(1);
}
p#activiteiten{
    position: relative;
    transform: rotate(6deg);
    margin-top: -22em;
    margin-left: 33em;
    z-index: 1;
}
div#aarde{
    position: relative;
    background: lightblue;
    display:block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    font-size: 0;
    border: solid black 0.15rem;
    margin: 0 auto;
    margin-top: -6rem;
    margin-bottom: 4rem;
    z-index: 10;
}

/* NAV */
nav{
    background: #accdac;
    padding: 1rem;
    padding-bottom: 2rem;
}

/* CONTACT */
section#contact{
    background: lightpink;
    padding: 1rem;
    padding-bottom: 2rem;
}

/* MAIN */
main{
    /* background: lightpink; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
main > header{
    background: none;
    margin: 0;
    margin-top: 2rem;
    padding: 1rem;
    width: 100vw;
}
main section{
    background: #fff;
    color: #333;
    margin: 1rem;
    padding: 1rem;
    min-width: 20em;
    max-width: 28em;
    border-radius: 0.5rem;
}
main section:target{
    background: #fffc86;
    /* margin-top: 2rem; */
    /* align-items: center; */
    /* justify-content: center; */
    /* scroll-margin-top: 2rem; */
}

/* FOOTER */
footer{
    /* background: #eee; */
    /* color: #444; */
    /* font-size: 1rem; */
    margin-bottom: 4rem;
    padding: 1rem;
    /* max-width: 640px; */
    width: 100vw;
    /* display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-start; */
}