* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/*
Kleuren
darkseagreen
https://html-color.codes/color-names/darkseagreen
https://www.colorhexa.com/8fbc8f

wit #eee
zwart #222
groen darkseagreen
licht groen #accdac
donker groen #83b483
geelbruin Khaki
licht geelbruin AntiqueWhite
blauw SkyBlue

LightSalmon
PaleGoldenrod
gold

*/
/* @font-face {
  font-family: MyHelvetica;
  src: local("Helvetica Neue"),
  local("HelveticaNeue"),
  url(MgOpenModerna.ttf);
  font-weight: normal;
} */

/* BODY SETTINGS */
body{
    background: #eee;
    color: #222;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em; /*line-height beetje ophogen, leest beter */
    letter-spacing: -0.01em; /*ietsiepietsie afspatieëren */
    margin: 0;
    padding: 0;
}
a{
    color: #222;
}
a:hover, a:focus{
    background: gold;
    /* color: white; */
}
h1{
    font-size: 3em;
    line-height: 0.9em; /*line-height in header strak zetten */
    letter-spacing: -0.04em; /*titels iets meer afspatieëren = lekker */
    margin: 0.4em 0 0 0;
    padding: 0;
}
h2{
    font-size: 1.8em;
    line-height: 1.1em;
    letter-spacing: -0.01em;
}
h3{
    font-size: 1.3em;
}
ul, menu{
    margin: 0;
    padding-left: 1em;
}
ul li, menu li{
    margin-bottom: 0.2em;
}
ul li a, menu li a{
    display: inline-block;
    padding: 0.2em;
}
p{
    max-width: 48em;
}

/* HEADER */
header{
    background: #accdac;
    padding: 2rem 1rem;
}
h1 img{
    animation: circulair 30s infinite linear;
    margin-left: 0.2rem;
}
@keyframes circulair {
    100% {
      rotate: 1turn;
    }
  }
div#cards{
    /* background: lightpink; */
    /* max-width: 48em; */
    /* position: relative; */
    margin: 0 -1rem;
    padding-top: 2rem;
    padding-bottom: 10rem;
    /* perspective: 1000px; */
    overflow-x: scroll;
    /* border: red solid */
}
div#cards > div{
    background: darkseagreen;
    width: 16rem;
    height: 22rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: solid #83b483 0.5rem;
    box-shadow: rgba(44, 73, 44, 0.4) 0px 48px 100px 0px;
}
div#info{
    /* font-size: 0.98em; */
    position: relative;
    /* transform: rotateY(20deg) translateX(-20px); */
    transform: rotate(-10deg);
    margin-top: 2rem;
    margin-left: 1rem;
    z-index: 3;
}
div#advies{
    position: relative;
    transform: rotate(-1deg);
    margin-top: -24rem;
    margin-left: 17rem;
    z-index: 5;
    transform: scale(1);
}
div#activiteiten{
    position: relative;
    transform: rotate(6deg);
    margin-top: -21rem;
    margin-left: 33rem;
    z-index: 1;
}
div#earth{
    max-width: 48em;
    position: relative;
    /* width: 8rem; */
    /* height: 8rem; */
    margin: 0;
    margin-top: -7rem;
    margin-bottom: 4rem;
    z-index: 10;
    text-align: center;
}
div#earth img{ /* https://thenounproject.com/icon/circle-4466868/ */
    transform: scale(1);
    opacity: 0.9;
    object-position: 0 1rem;
}


/* NAV */
nav{
    background: #accdac;
    padding: 1rem;
    padding-bottom: 2rem;
}
nav menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 48rem;;
}
nav menu li{
    margin: 0.5rem;

}
nav menu a{
    display: block;
    background: khaki;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
}
nav menu a[href*="contact"]{
    background: lightcoral;
}
nav menu a[href*="blog"],nav menu a[href*="over"]{
    background: SkyBlue;
}
nav menu a:hover,
nav menu a[href*="contact"]:hover, 
nav menu a[href*="blog"]:hover,
nav menu a[href*="over"]:hover{
    background: gold;
}

/* CONTACT */
section#contact{
    background: lightpink;
    padding: 1rem;
    padding-bottom: 2rem;
}
section#contact ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* MAIN */
main{
    background: ;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
main > header{
    background: none;
    margin: 0;
    margin-top: 3rem;
    padding: 1rem;
    width: 100vw;
}
main section{
    background: #fff;
    color: #333;
    margin: 1rem;
    padding: 1rem;
    /* min-width: 20em; */
    max-width: 28em;
    border-radius: 0.5rem;
}
main section:target{
    background: PaleGoldenrod;
    scroll-margin-top: 2rem;
}

/* BLOG */
section#blog-en-inspiratie{ /* https://thenounproject.com/icon/pattern-2956272/ */
    margin: 0;
    margin-top: 2rem;
    padding-top: 3rem;
    width: 100vw;
    max-width:none;

    background:
        radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.15) 21%, rgba(255,255,255,.15) 34%, transparent 35%, transparent),
        radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.15) 21%, rgba(255,255,255,.15) 34%, transparent 35%, transparent) 0 -50px;
    /* background: url("img/water2.png"); */
    /* background-blend-mode:overlay; */
    background-color: skyblue;
    background-size: 75px 100px;
    border-radius: 0;
}
section#blog-en-inspiratie ol{
    display: flex;
    flex-direction: column-reverse;
}

section#blog-en-inspiratie ul{
    list-style: none;
    margin: 0 -1rem;
    padding: 0;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
}
section#blog-en-inspiratie ul li{

}
section#blog-en-inspiratie ul li a{
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0.5rem;
    text-decoration: none;
}
section#blog-en-inspiratie ul li a strong{
    display: block;
}
section#blog-en-inspiratie ul li a:hover{
    background: PaleGoldenrod;
}

/* FOOTER */
footer#over-bureau-waarde{
    margin: 0;
    /* margin-top: 2rem; */
    margin-bottom: 4rem;
    padding: 1rem;
    padding-top: 2rem;
    width: 100vw;
}
